@page "/counterwithcode"
@inherits CounterBase

    <section>
        <h2>Counter With Code Behind</h2>

        <p>Current count: @currentCount</p>

        <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

    </section>

