@page "/"

<h1>Blazor Components</h1>



<section style="margin-top:25px">
    <h3 style="margin-top:25px"> Inline Component Example</h3>
    <TitleHeader />
</section>

<section style="margin-top:25px">
    <h3 > Full Page Component Example</h3>
    <Counter />
</section>




